{{ $collection := .collection }}
{{ $allCitations := .citations }}
{{ $thisKey := $collection.key }}
{{ warnf $thisKey }}
{{ $singleCollection := .singleCollection }}

{{ $renderCollection := false }}
{{ range $citation := $allCitations }}
    {{ $collectionKeys := $citation.citation.data.collections | default (slice) }}
    {{ if in $collectionKeys $thisKey }}
        {{ $renderCollection = true }}
    {{ end }}
{{ end }}

{{ if and $renderCollection (not $singleCollection) }}
  <h2>{{ $collection.name }}</h2>
{{ end }}

    {{ range $citation := $allCitations }}
        {{ $collectionKeys := $citation.citation.data.collections | default (slice) }}
        {{ if in $collectionKeys $thisKey }}
            {{ partial "render/render-citation.html" $citation }}
        {{ end }}
    {{ end }}

  {{/* Render children recursively */}}
  {{ with $collection.children }}
      {{ range . }}
        {{ partial "render-collection.html" (dict "collection" . "citations" $allCitations) }}
      {{ end }}
  {{ end }}
