{{ $title := .Get "title" }}

{{- $already := $.Page.Scratch.Get "cited_titles" | default (slice) }}
{{- if not (in $already $title) }}
  {{- $.Page.Scratch.Add "cited_titles" (slice $title) }}
{{- end }}
{{- .Page.Site.Store.Set "cited_titles" ($.Page.Scratch.Get "cited_titles") -}}

{{ $groupId := site.Params.groupId }}
{{ $endpoint := printf "https://api.zotero.org/groups/%d/items?start=0&limit=100&format=json" $groupId }}

{{ $remote := resources.GetRemote $endpoint }}
{{ with $remote }}
{{ $data := .Content | transform.Unmarshal }}
{{ $found := false }}
{{- range $data }}
{{$entry := .data}}

{{- $year := "" }}
{{- with $entry.date }}
  {{- $parts := split . "-" }}
  {{- if gt (len $parts) 0 }}
    {{- $year = index $parts 0 }}
  {{- end }}
{{- end }}
{{- if and (not $found) (eq $entry.title $title) }}
<span>
    {{- $authors := slice -}}
    {{- range $entry.creators }}

    {{- if eq .creatorType "author" }}
    {{- if .lastName }}
    {{- $name := printf "%s" .lastName}}
    {{- $authors = $authors | append $name }}
    {{- end }}
    {{- end }}
    {{- end }}

    {{$authorStr := ""}}
    {{- if eq (len $authors) 1 }}
    {{- $authorStr = (index (split (index $authors 0) ",") 0 ) -}}
    {{- end}}
    {{- if eq (len $authors) 2 }}
    {{ $authorStr = printf "%s & %s " (index (split (index $authors 0) ",") 0) (index (split (index $authors 1) ",") 0)}}
    {{- end}}
    {{- if eq (len $authors) 3 }}
    {{$authorStr = printf "%s et al." (index (split (index $authors 0) ",") 0 )}}
    {{- end}}
    {{- if gt (len $authors) 3 }}
    {{$authorStr = printf "%s et al." (index (split (index $authors 0) ",") 0 )}}
    {{- end}}

    {{ if $authorStr }}
({{$authorStr}}, {{if $year}}{{$year}}{{else}}n.d.{{end}})
    {{ else }}
({{$title}}, {{if $year}}{{$year}}{{else}}n.d.{{end}})
    {{ end }}
</span>
{{- end}}
{{- end}}
{{- end}}
